<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>

	<!-- header-start -->
	<header th:replace="layout :: frgHeader"></header>
	<!-- header-end -->
	<h2> <span th:text="${docente.nombre}"></span></h2>
	<hr/>
    <h3>Fecha de nacimiento:<span th:text="${#dates.format(docente.fechaNacimiento,'dd-MM-yyyy')}"></span></h3>
    <h3>Grado:<span th:text=${docente.grado}></span></h3>
	<h3>Instituci&oacute;n: <span th:text=${docente.institucion}></span></h3>
	<hr/>
	<h2>Email:<span th:text=${docente.email}></span></h2>
	<h3>Fecha de ingreso:<span th:text="${#dates.format(docente.fechaIngreso,'dd-MM-yyyy')}"></span></h3>
	<footer th:replace="layout :: frgFooter"></footer>	
</body>
</html>















