<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>

	<!-- header-start -->
	<header th:replace="layout :: frgHeader"></header>
	<!-- header-end -->

	<h3>
		<span th:text="${title}"></span>
	</h3>

	<table border="1">
		<thead>
			<tr>
				<th>C&eacute;dula</th>
				<th>Nombre</th>
				<th>Fec.Nacimiento</th>
				<th>Sexo</th>
				<th>Fec.Ingreso</th>
				<th>Email</th>
				<th>Grado</th>
				<th>Institucion</th>
				<th><a title="Nuevo" th:href="@{/docente/create}">Nuevo</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="docente : ${lista}">
				<td th:text="${docente.cedula}"></td>
				<td th:text="${docente.nombre}"></td>
				<td th:text="${#dates.format(docente.fechaNacimiento,'dd-MM-yyyy')}"></td>
				<td th:text="${docente.sexo}"></td>
				<td th:text="${#dates.format(docente.fechaIngreso,'dd-MM-yyyy')}"></td>
				<td th:text="${docente.email}"></td>
				<td th:text="${docente.grado}"></td>
				<td th:text="${docente.institucion}"></td>				
				<td><a title="Editar"
					th:href="@{/docente/update/} + ${docente.idpersona}">Editar</a>&nbsp;&nbsp;<a
					title="Ver" th:href="@{/docente/retrieve/} + ${docente.idpersona}">Ver
				</a></td>
			</tr>

		</tbody>
	</table>


	<footer th:replace="layout :: frgFooter"></footer>
	
</body>
</html>















