<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>

	<!-- header-start -->
	<header th:replace="layout :: frgHeader"></header>
	<!-- header-end -->

	<h3>
		<span th:text="${title}"></span>
	</h3>

	<table border="1">
		<thead>
			<tr>
				<th>C&eacute;dula</th>
				<th>Nombre</th>
				<th>Fec.Nacimiento</th>
				<th>Sexo</th>
				<th>Fec.Ingreso</th>
				<th>Lateralidad</th>
				<th>Procedencia</th>
				<th>Observaci&oacute;n</th>				
				<th><a title="Nuevo" th:href="@{/estudiante/create}">Nuevo</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="estudiante : ${lista}">
				<td th:text="${estudiante.cedula}"></td>
				<td th:text="${estudiante.nombre}"></td>
				<td th:text="${#dates.format(estudiante.fechaNacimiento,'dd-MM-yyyy')}"></td>
				<td th:text="${estudiante.sexo}"></td>
				<td th:text="${#dates.format(estudiante.fechaIngreso,'dd-MM-yyyy')}"></td>
				<td th:text="${estudiante.lateralidad}"></td>
				<td th:text="${estudiante.procedencia}"></td>
				<td th:text="${estudiante.observacion}"></td>				
				<td><a title="Editar"
					th:href="@{/estudiante/update/} + ${estudiante.idpersona}">Editar</a>&nbsp;&nbsp;<a
					title="Ver" th:href="@{/estudiante/retrieve/} + ${estudiante.idpersona}">Ver
				</a></td>
			</tr>

		</tbody>
	</table>


	<footer th:replace="layout :: frgFooter"></footer>
	
</body>
</html>















