<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="frgHead">
<meta charset="UTF-8">
<title>Universidad de las Fuerzas Armadas</title>
</head>
<body>

	<!-- header-start -->
	<header th:fragment="frgHeader">
	 <h1 id="txtTitle">Certificaci&oacute;n II</h1>
	 <a title="Listar docentes" th:href="@{/docente/list}">Docentes</a>
	 <a title="Listar estudiantes" th:href="@{/estudiante/list}">Estudiantes</a>
	 <a title="LIstar tipos de vacunas" th:href="@{/tipovacuna/list}">Tipos de vacunas</a>
	</header>
	<!-- header-end -->

	
	<footer th:fragment="frgFooter" class="footer">
		<!-- JS here -->
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/layout.js}"></script>	
		
	</footer>
	<!-- footer end  -->
</body>
</html>















